/**
 * color
 *  via: foundation color
 */
@import '../../bower_components/google-material-color/dist/palette.scss';

$white     : palette('White');
$iron      : #ccc;
$aluminum  : palette('Grey');
$steel     : palette('Grey', 700);
$oil       : palette('Grey', 900);
$black     : palette('Black');



/**
 * variable
 */
$shadow-diff : 1px 1px;
$page-bgc    : rgba($white, .9);


/**
 * functions
 */





/**
 * Mixin
 */
// vertical-center() {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }



/**
 * helper
 */
%page-break-after {
  @media print {
    page-break-after: always;
  }
}

%transition-all {
  transition: all .3s;
}

%break-unit {
  display: inline-block;
}

%state--hide {
  max-height: 0;
  margin-bottom: 0;
  opacity: 0;
}

%state--show {
  max-height: 200rem; // magic number: a long height
  overflow: hidden;
  opacity: 1;
}


.bu {
  @extend %break-unit;
}

// for web font style
.wf-inactive {
  html.js & {
    color: transparent;
    text-shadow: none;
  }
}



/////

* {
  box-sizing: border-box;
  margin: 0; // reset all
}

::selection {
  background-color: rgba($black, .1);
}

html {
  padding: 0 1rem;
  background-color: $iron;

  @media print {
    background: transparent;
  }
}

body {
  margin: 1rem auto;
  padding: 5rem 7%;
  max-width: 50rem;
  background-color: $page-bgc;
  color: $oil;
  font-family: Constantia, "Palatino Linotype", Palatino, Georgia, serif;
  line-height: 1.5;
  box-shadow: $shadow-diff 5px 2px rgba($black, .3);
}

li {
  list-style-type: square;
}

hr {
  width: 80%;
  margin: 1rem auto;
  border: none;
  border-top: 1px dashed rgba($black, .15);
}

a {
  $link-color: darken(#f00, 40%);
  color: $link-color;
  border-bottom: 1px solid rgba($link-color, .2);
  text-decoration: none;
  transition: all .3s;

  &:hover {
    border-color: rgba($link-color, .5);
  }

  &[href^="//"] {
    cursor: alias;
  }
}

abbr {
  border-bottom: 1px dotted $aluminum;
}

/////

.cv-header {
  text-align: center;
  margin-bottom: 3rem;
}

.hello {
  @extend %break-unit;
  max-width: 19rem;
  vertical-align: middle;

  .say-hi {
    @extend %transition-all;
    padding-left: 1.5rem;
    font-family: 'Courgette', cursive;
    text-shadow: 2px 2px 2px rgba($black, .2);
  }

  small {
    display: block;
    padding: 10px 1.5rem 0;
    color: $steel;
    font-size: 55%;
    font-weight: lighter;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: .5px;
  }
}

.avatar {
  position: relative;
  display: inline-block;
  width: 200px;
  max-width: 100%;
  margin: 0 auto 1rem;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  opacity: .99;
  box-shadow: inset $shadow-diff 1px 0 rgba($black, .1),
              0   0   0   4px lighten($white, 30%),
              0   0   1px 4px rgba($black, .2),
              2px 2px 3px 4px rgba($black, .15);

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .avatar__image {
    $_translate: translate(-50%, -50%);
    $_scale: scale(1.05);
    $_scale: '';
    $_rotate1: rotate(-3deg);
    $_rotate2: rotate(-10deg);

    @extend %transition-all;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: #{$_translate};
    transition-timing-function: cubic-bezier(.5, 3, .8, .8);
    cursor: grab;

    &:hover {
      transform: #{$_translate} #{$_scale} #{$_rotate1};
      width: 105%;
    }

    &:active {
      cursor: grabbing;
      transform: #{$_translate} #{$_scale} #{$_rotate2};
    }
  }
}

.nick-name--wrapper {
  display: inline-block;
  width: 100px;
  height: 67px;
  overflow: hidden;
  vertical-align: text-bottom;
}

.nick-name {
  vertical-align: -.5em;
}

.lang {
  @extend %break-unit;
}



///// svg

.icon {
  @extend %transition-all;
  display: inline-block;
  vertical-align: bottom;
}

.icon-Rplus {
  width: 2em;
  height: 2em;
  margin-left: .5em;

  &:hover {
    fill: palette('Red', 'A700');
  }
}



/////

.contact {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  line-height: 0; // hack for ::after placeholder

  &::after {
    content: '';
    display: inline-block;
    width: 250px;
    max-width: 100%;
  }

  @media print {
    text-align: left;

    &::after {
      display: none;
    }
  }
}

.contact-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 1rem;
  margin-bottom: .5rem;

  @media print {
    min-width: 45%;
    // display: block;
  }
}

.contact-link {
  position: relative;
  display: block;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  outline: none;

  &:focus::after,
  &:hover::after {

    .no-js &,
    .no-csstransforms & {
      bottom: 100%;
    }

    .csstransforms & {
      transform: translateY(-50%);
    }

    max-width: 5em;
    opacity: 1;
    background-color: rgba($steel, .2);
  }

  // tooltip
  &::after {
    @extend %transition-all;
    content: attr(title);
    position: absolute;
    border-left: 8px solid rgba($steel, .2);
    border-bottom: 5px solid transparent;
    color: $oil;
    padding: 3px 5px 3px 0;
    background-clip: padding-box;
    line-height: normal;
    bottom: 50%;
    left: 75%;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    text-transform: capitalize;
    pointer-events: none;

    @media print {
      position: static;
      content: attr(href);
      margin-left: .3rem;
      border: none;
      text-transform: none;
      opacity: 1;
    }
  }

  .icon {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    border-radius: 50%;
    background-color: $iron;
    fill: $page-bgc;
    box-shadow: $shadow-diff 3px 1px $aluminum;
  }

  &:active .icon,
  &:focus .icon,
  &:hover .icon {
    fill: $white;
    background-color: $aluminum;
    box-shadow: inset $shadow-diff 3px 1px $steel,
                inset -1px -1px 3px -1px rgba($white, .5);

  }
}



/////

.cv-section {
  margin-bottom: 3rem;

}

.section-title {
  margin-bottom: .5rem;
  text-transform: capitalize;
  font-variant: small-caps;
}

.cv-section--intro p {
  margin: 1rem 1rem;
}

.cv-section--skill {
  @extend %page-break-after;
}



/// exp list

.cv-section--experience {
  @extend %page-break-after;
  line-height: 1.3;

  ul ul,
  ul ul ul {
    padding-left: 5%;
  }

  li {
    list-style-type: none;
  }
}

.exp-items {
  padding-left: 7%;
}

.exp-item {
  margin-bottom: 1rem;
  list-style-type: none;

  input[type="checkbox"] {
    display: none;

    &:checked ~ .task-lists,
    &:checked ~ .task-lists .task-list,
    &:checked ~ .task-list {
      @extend %state--show;
      max-height: 50rem;
    }
  }
}

.exp-item__header {
  position: relative;
  font-weight: normal;

  &:last-of-type {
    margin-bottom: .5rem;
  }

  &::before {
    // vertical-center();
    content: '';
    position: absolute;
    top: 1rem * .3 * .5; // .3 = 1.3 line-height - 1rem ; .5 = top + bottom
    left: -1rem;
    width: .5rem;
    height: 1rem;
    background-color: rgba($black, .1);
  }
}

.task-lists,
.task-list {
  @extend %state--hide;
  transition: all .1s
}

.task-list {
  margin-bottom: .5rem;
  margin-bottom: 1rem;

  li {
    position: relative;
    margin-bottom: .5rem;
    list-style-type: none;

    &::before {
      content: '';
      position: absolute;
      left: -.7rem;
      top: .5rem;
      width: 2px;
      height: 2px;
      border: 1px solid rgba($black, .5);
      transform: rotate(45deg)
    }
  }
}

.task-list__group__title {
  margin-bottom: .3rem;
  margin-left: -.5rem;
  color: rgba($black, .5);
}

.date {
  text-transform: capitalize;
  font-variant: small-caps;
  font-family: monospace;
  font-size: small;
  color: rgba($black, .5);
  cursor: pointer;
}

.business-card {
  height: 150px;
  background: 90% 50% / 201px no-repeat;

  .no-js & {
    background-image: url('//cdn.rawgit.com/Rplus/R-logo/v7/R+.svg') ;
  }
}

/////
// partial content

.see-more {
  @extend %transition-all;
  margin-bottom: -1rem;
  visibility: hidden;
  opacity: 0;

  #card:target ~ & {
    margin-bottom: 0;
    visibility: visible;
    opacity: 1;
  }
}

.cv-section--experience,
.cv-section--intro,
.business-card {
  @extend %transition-all;
  @extend %state--show;

  #card:target ~ & {
    @extend %state--hide;
  }
}
