.icon {
    background-repeat: no-repeat;

    &.icon-Rplus {
        background-image: url('../../../../app/images/inject-svg/png/Rplus.png');
    }

    &.icon-codepen {
        background-image: url('../../../../app/images/inject-svg/png/codepen.png');
    }

    &.icon-facebook {
        background-image: url('../../../../app/images/inject-svg/png/facebook.png');
    }

    &.icon-github {
        background-image: url('../../../../app/images/inject-svg/png/github.png');
    }

    &.icon-gmail {
        background-image: url('../../../../app/images/inject-svg/png/gmail.png');
    }

    &.icon-home {
        background-image: url('../../../../app/images/inject-svg/png/home.png');
    }

}
