// reset
* {
  box-sizing: border-box;
  margin: 0; // reset all
}

::selection {
  background-color: rgba($black, .1);
}

html {
  padding: 0 1rem;
  background-color: $iron;

  @media print {
    background: transparent;
  }
}

body {
  margin: 1rem auto;
  padding: 5rem 7%;
  max-width: 50rem;
  background-color: $page-bgc;
  color: $page-color;
  font-family: Constantia, "Palatino Linotype", Palatino, Georgia, serif;
  line-height: 1.5;
  box-shadow: $shadow-diff 5px 2px rgba($black, .3);

  @media print {
    box-shadow: none;
  }
}

li {
  line-height: 1.2;
  margin-bottom: .5rem;
  list-style-type: square;
}

hr {
  width: 80%;
  margin: 1rem auto;
  border: none;
  border-top: 1px dashed rgba($black, .15);
}

a {
  $link-color: darken(#f00, 40%);
  color: $link-color;
  border-bottom: 1px solid rgba($link-color, .2);
  text-decoration: none;
  transition: all .3s;

  &:hover {
    border-color: rgba($link-color, .5);
  }

  &[href^="//"] {
    cursor: alias;
  }
}

abbr {
  border-bottom: 1px dotted $aluminum;
}



/////



.ib,
.bu {
  display: inline-block;
}

// for web-font style
.wf-inactive {
  html.js & {
    color: transparent;
    text-shadow: none;
  }
}
