.see-more {
  @extend %transition-all;
  margin-bottom: -1rem;
  visibility: hidden;
  opacity: 0;

  & ~ div,
  & ~ section {
    @extend %state--show;
    transition: opacity .3s, max-height .2s;
    will-change: opacity, max-height;
  }

  @media not print {
    #card:target ~ & {
      margin-bottom: 0;
      visibility: visible;
      opacity: 1;

      & ~ div,
      & ~ section {
        @include state--hide;
      }
    }
  }
}
