.cv-section {
  margin-bottom: 3rem;

}

.section-title {
  margin-bottom: .5rem;
  text-transform: capitalize;
  font-variant: small-caps;
}

.cv-section--intro {
  @extend %page-break-before;

  p {
    margin: 1rem 1rem;
  }
}



/// exp list

.cv-section--experience {
  @extend %page-break-before;
  line-height: 1.3;

  ul ul,
  ul ul ul {
    padding-left: 5%;
  }

  li {
    list-style-type: none;
  }

  @media print {
    a::after {
      position: relative;
      top: .2rem;
      content: attr(href);
      font-size: smaller;
      color: $aluminum;
    }
  }
}

.exp-items {
  padding-left: 7%;
}

.exp-item {
  margin-bottom: 1rem;
  list-style-type: none;

  input[type="checkbox"] {
    display: none;

    &:checked ~ .task-lists,
    &:checked ~ .task-lists .task-list,
    &:checked ~ .task-list {
      @extend %state--show;
      max-height: 50rem;
    }
  }
}

.exp-item__header {
  position: relative;
  font-weight: normal;

  &:last-of-type {
    margin-bottom: .5rem;
  }

  &::before {
    // vertical-center();
    content: '';
    position: absolute;
    top: 1rem * .3 * .5; // .3 = 1.3 line-height - 1rem ; .5 = top + bottom
    left: -1rem;
    width: .5rem;
    height: 1rem;
    background-color: rgba($black, .1);
  }
}

.task-lists,
.task-list {
  @extend %state--hide;
  transition: all .1s
}

.task-list {
  margin-bottom: .5rem;
  margin-bottom: 1rem;

  li {
    position: relative;
    list-style-type: none;

    &::before {
      content: '';
      position: absolute;
      left: -.7rem;
      top: .5rem;
      width: 2px;
      height: 2px;
      border: 1px solid rgba($black, .5);
      transform: rotate(45deg)
    }
  }
}

.task-list__group__title {
  margin-bottom: .3rem;
  margin-left: -.5rem;
  color: rgba($black, .5);
}

.date {
  margin-right: .25rem;
  text-transform: capitalize;
  font-variant: small-caps;
  font-family: monospace;
  font-size: small;
  color: rgba($black, .5);
  cursor: pointer;
}
