@import 'palette';

$white     : palette('White');
$iron      : #ccc;
$aluminum  : palette('Grey');
$steel     : palette('Grey', 700);
$oil       : palette('Grey', 900);
$black     : palette('Black');
