@mixin page-break($pos: 'before') {
  @media print {
    page-break-#{$pos}: always;
  }
}

@mixin state--show() {
  max-height: 200rem; // magic number: a long height
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

@mixin state--hide() {
  max-height: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
}

%page-break-before {
  @include page-break;
}

%transition-all {
  transition: all .3s;
}

%state--hide {
  @include state--hide;
}

%state--show {
  @include state--show;
}
